<p style="color: red"><%= notice %></p>

<h1>Adicionar candidatura</h1>

<%= render "form", candidatura: @candidatura %>

<br>

<div>
  <%= link_to "Voltar", candidato_vagas_path(@candidato) %>
</div>
